/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

code{
  white-space: pre-wrap; /* used to ensure that code examples adjust to the page size, found here: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/white-space */
  background-color: #EEE;
  padding: 0.5rem;
  display: block;
}

body {
  font-family: "Charis SIL", serif;
  background: #FFFEF1;
  color: #330708;
  padding: 2rem;
  margin: 0;
}



header{
  background: #AD4804;
  color: #F7D888;
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap; /* used to adjust header elements placing: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/flex-wrap*/
  border-radius: 1.75rem;
}


.style-guide-page header nav {
  display: flex;
  flex-wrap: wrap;  /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/flex-wrap*/
  gap: 0.5rem;        
}

header nav a{
  color: #F7D888;
  text-decoration: none;
  padding: 0.6rem 1rem;
  transition: 0.2s;
  margin-left: 1rem;
}


header nav a:hover {
  background: #6E2606;
  color: #FDFBD4;
}

.element {
  background: white;
  padding: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08); /*used fror style and aestheitic: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/box-shadow */
}

h1{
  font-family: "Arima Madurai", cursive;
  font-size: 2.8rem;
  padding: 0.6rem 1rem;
  color: #FDFBD4;
 
}

h2 {
  font-family: 'Arima Madurai', cursive;
  margin-top: 6rem;
  font-size: 2.2rem;
}

h3 {
  font-family: 'Arima Madurai', cursive;
  margin-top: 1rem;
  font-size: 1.7rem;
}

h4 {
  font-family: 'Arima Madurai', cursive;
  margin-bottom: 0.25rem;
  font-size: 1.3rem;

}
h5 {
  font-family: 'Arima Madurai', cursive;
  margin-bottom: 0.25rem;
  font-size: 1rem;

}

p {
  margin-top: 0;
}
 /* FOOTER STYLING ------------------- */
.web-footer{
  background: #AD4804;
  padding: 3rem 2rem 1.5rem 2rem;
}

.footer-column-first h3,
.footer-column-first h4,
.footer-column-second h3,
.footer-column-second h4,
.footer-column-third h3,
.footer-column-third h4,
.footer-column-fourth h3,
.footer-column-fourth h4 {
  font-size: 1.2rem;
}
.navFooter {
  display: inline-block;
  align-self: flex-start;
  color: #F7D888;
  text-decoration: none;
  padding: 0.25rem 0.8rem;
  margin-left: 3rem;
  transition: 0.3s ease;
}

.navFooter:hover{
  background: #6E2606;
  color: #FDFBD4;
}

.footer-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.footer-column-first, .footer-column-second, .footer-column-third, .footer-column-fourth {
  display: flex;
  flex-direction: column;
}


.footer-column-first{
  gap: 0.6rem;
}

.footer-column-second{
  gap: 1.75rem;
  white-space: nowrap;
}

.footer-column-third{
  gap: 1.75rem;
  white-space: nowrap;
}

.footer-column-fourth{
  gap: 1.5rem;
}

.footer-column-fourth .form-button {
  align-self: flex-start;
}

.footer-column-second h3, .footer-column-second h4 {
  margin-left: 3.9rem;
}

.footer-column-third h3,.footer-column-third h4 {
  margin-left: 3.9rem;
}

.footer-column-fourth .form-elements {
  width: 100%;
  max-width: 25rem;
}

@media (max-width: 62.875rem) {

  .footer-column-first img{
    margin-left: 0.5rem;
  }

  .footer-container {
    grid-template-columns: 1fr 1fr;
  }

  .footer-column-first {
    grid-column: 1 / -1;
  }

  .footer-column-first{
    align-items: center;
  }

  .footer-column-second{
    align-items: center;
    max-width: 20rem;
  }

  .footer-column-third{
    align-items: center;
    max-width: 20rem;
  }

  .footer-column-fourth {
    grid-column: 1 / -1; 
    align-items: center;
    margin-top: 3rem;
  }

  .footer-column-fourth .form-button {
    align-self: center;
  }

  .footer-column-second h4 {
    align-self: flex-start;
  }

  .footer-column-third h4 {
    align-self: flex-start;
  }

}

@media (min-width: 41.25rem) and (max-width: 62.875rem){

  .footer-container-second{
    margin-left: 15rem;
  }
}

@media (max-width: 41.25rem) {
  .footer-container {
    grid-template-columns: 1fr;   
  }

  .footer-column-first{
    align-items: start;
    margin-left: 4rem;
  }



  .footer-column-second h4{
    align-items: flex-start;
  }

  .footer-column-fourth{
    align-items: flex-start;
    margin-left: 3.5rem;
    max-width: 40rem;
  }

  .footer-column-fourth .form-button{
    align-self: flex-start;
  }

  .footer-column-first, .footer-column-fourth {
  margin-left: 1.5rem;
}

  .footer-column-second,
  .footer-column-third {
    align-items: flex-start;
  }

  .footer-column-second h4,
.footer-column-third h4 {
  margin-left: 0;
}

.footer-column-second,
  .footer-column-third {
    align-items: flex-start;
    padding-left: 1rem;
  }

  .footer-column-first h4{
    align-items: flex-start;
    padding-right: 1.5rem;
  }

  .navFooter {
    margin-left: 0;
  }

  .footer-column-first{
  align-items: flex-start;
  margin-left: 1rem;
}

  .footer-column-first img{
    align-items: flex-start;
  }

}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

.text-link {
  color: #AD4804;
  font-weight: 600;
  transition: 0.2s;
}

.text-link:hover {
  color: #E60E0E;
  text-decoration: underline;
}

.text-link:focus {
  outline: 1px solid #E60E0E;
}



.nav-link {
  background: #AD4804;
  color: #F7D888;
  text-decoration: none;
  padding: 0.6rem 1rem;
  display: inline-block;
  transition: 0.2s;
}

.nav-link:hover, .nav-link:focus {
  background: #6E2606;
  color: #FDFBD4; 
}

.button, .button-nav, .product-link {
 background: #AD4804;
  color: #F7D888;
  border: none;
  padding: 0.6rem 1rem;
  text-decoration: none;
  transition: 0.2s;
}

.button-nav:hover, .button-nav:focus, .button:hover, .button:focus, .product-link:hover, .product-link:focus {
  background: #6E2606;
  color: #FDFBD4; 
}

.form-elements, .payment-form{
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  max-width: 25rem;
}


.form-elements label {
    font-weight: 600;
}

.image-link {
  display: block;
  width: 18rem;
  height: 12rem;
}

.image-link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.25s;
}


.form-elements input {
  border: 1px solid #787878;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-family: "Charis SIL", serif;
  transition: 0.2s;
}

input {
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.radio {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 10px;
}

.radio input {
  display: none;
}

/*learnt how to style custom radio buttons here: https://gist.github.com/Cutcopy/3fce01b4e66c4663ef27*/
.custom-radio {
  width: 18px;
  height: 18px;
  border: 2px solid #787878;
  border-radius: 50%;
  position: relative;
}

.radio input:hover + .custom-radio, .radio input:focus + .custom-radio {
  border-color: #330708;
}

.radio input:checked + .custom-radio {
  border-color: #330708;
}

.radio input:checked + .custom-radio::after {
  content: "";
  width: 10px;
  height: 10px;
  background: #330708;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.form-elements input:hover, .form-elements input:focus {
  outline: none;
  border: 1px solid #330708;
  box-shadow: 0 0 0 2px rgba(51, 7, 8, 0.2);
}

#form-post {
    margin-bottom: 1rem;
}

.form-post{
    margin-left: 15rem;
}

.image-link:hover img, .image-link:focus img {
  filter: brightness(1.08) saturate(1.08); /*looked up for some effects when hovering over image: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/filter-function/brightness */
}

/* 
  TEXT ELEMENTS -------------------
*/

.ordered-list li{
  margin-bottom: 1rem;
}

/* 
  COMBINED ELEMENTS -------------------
*/

section{
  margin-bottom: 3rem;
}


.product-listing {
  width: 18.25rem;
  max-width: 100%;
  background: white;
  border: 1.5px solid;
  border-color: #330708;
  text-align: center;
}


.product-listing h4, .product-allergens, .product-description {
 text-align: left;
 margin-left: 1rem;
 color: #AD4804;
}


.product-listing h4{
 font-family: "Charis SIL", serif;
}
.product-description{
 font-weight: 200;
}
.product-allergens{
  margin-bottom: 1.5rem;
  text-decoration: underline;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.03rem;
}


.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
}

.card-footer .product-cost {
  font-weight: 700;
  color: #734217;
  margin: 0;
}

.form-button {
  background: #708F73;
  font-family: "Charis SIL", serif;
  color: #FDFBD4;
  padding: 0.2rem 1rem;
  border: 1.5px solid #043709;
  transition: 0.2s;
  font-weight: 600;
  text-decoration: none;
  
}

.form-buttonRESET {
  background: transparent;
  font-family: "Charis SIL", serif;
  color: #4C6D4F;
  padding: 0.2rem 1rem;
  border: 1.5px solid #043709;
  transition: 0.2s;
  font-weight: 600;
  text-decoration: none;
}

.form-buttonRESET:hover {
 background: #F7D888;
  color: #6E2606;
  border: 1.5px solid #690D0E;
}

.form-button:hover {
  background: #F7D888;
  color: #6E2606;
  border: 1.5px solid #690D0E;
}

.form-button, .radio-option {
  font-size: 1rem; 
}

.cart-header {
  font-weight: 700;
}

.cart-header,
.cart-item,
.cart-total {
    display: grid;
    grid-template-columns: 1fr 6rem;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid #330708;
    box-sizing: border-box;
}
.checkout-cart {
    max-width: 70rem; 
    margin: 0 auto;
    padding: 0 1.5rem;
}

.cart-total {
    padding: 0.8rem 0;
    font-weight: 700;
    font-size: 1.2rem;
    text-decoration: underline;

}

.cart-items {
    padding: 0;
    margin: 0;
    list-style: none;
}

.cart-item {
  display: grid;
  grid-template-columns: 4fr 1fr; /* looked how to place elements in columns: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/grid-template-columns*/
  align-items: center;

  padding: 0.5rem 0rem;
  border-bottom: 1px solid #330708;

}

.item-details {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.item-name{
  font-weight: 600;
}

.item-price {
  font-weight: 600;
  color: #330708;
}
.item-price,
.header-price,
.total-value {
    justify-self: end;
}

.cart-item-image {
    width: 9rem;
    height: 6rem;
    min-width: 9rem;
    min-height: 6rem;
    object-fit: cover;
    border: 1px solid #330708;
}
.cart-total {
    padding: 0.8rem 0;
    font-weight: 700;
    font-size: 1.2rem;
    text-decoration: underline;
    border-bottom: none; /* used to not apply underline at the end of the container: https://www.udacity.com/blog/2021/08/how-to-apply-the-css-property-border-bottom.html */
}

.total-label {
    justify-self: end;
    text-decoration: underline;
}

img{
  max-width:100%;
  height: auto;
  display: block;
}

p a, li a {
  overflow-wrap: anywhere; /* helped me to adjust text out of style guide componenets, in the imagery, found here: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/overflow-wrap */
  word-break: break-word; /* used for the same reason: https://css-tricks.com/almanac/properties/w/word-break/ */
}




/*
  PRODUCTS LISTING PAGE STYLING
*/

.product-list-subtitle{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  margin-bottom: 4rem;
  font-size: 1rem;
  color: #330708;
  width: 100%;
  margin-bottom: 8rem;
}


.product-list-subtitle::before,
.product-list-subtitle::after{
  content: "";
  flex: 1;
  height: 1px;
  background-color: #330708;
}

.products-page .navbar {
  background:#AD4804;
  position: sticky;
  top: 0
}

.mapastry-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.products-page {
  padding: 0;
}

.products-page-header {
  position: sticky; /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/position */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/z-index */
  border-radius: 0;
  background: #AD4804; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 0;
}

.section-divider {
  border-top: 2px solid #AD4804;
  margin: 5rem;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}


.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, 19.25rem); /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/repeat */
  gap: 2rem;
  justify-content: center;
  align-items: start;
}

.products-page-header .main-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.products-page h2 {
  padding: 3rem;
}

.page-header {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.page-description {
  text-align: center;
  max-width: 45rem; 
  margin: 0 auto 6rem auto;
}

.products-page .element {
  max-width: 37.5rem;
  margin: 0 auto;
  padding: 1rem;
}

.products-page .payment-form {
  margin: 0 auto;
}

@media(max-width: 40rem){
  .product-list-subtitle{
    margin-bottom: 2rem;
  }

  .products-page h2 {
    padding-top: 6rem;
}

  .products{
  margin-left: 1rem;
}

}

/*
  CHECKOUT PAGE STYLING
*/

.products-page .checkout-element {
  padding-top: 6rem;
}

.checkout-subtitle{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  margin-bottom: 4rem;
  font-size: 1rem;
  color: #330708;
  width: 100%;
}



.checkout-subtitle::before,
.checkout-subtitle::after{
  content: "";
  flex: 1;
  height: 1px;
  background-color: #330708;
}

.checkout-header, .payment-header {
  margin-top: 6rem;
  font-family: 'Arima Madurai', cursive;
  margin-top: 0.4rem;
  text-align: center;
}

.item-details{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cart-item-image{
  width: auto;
  height: 4rem;
}

.payment-form p {
  text-align: center;
  margin-top: 1.5rem;
}

.payment-form .radio {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 0.3rem 0;
}

.payment-form .form-button {
  display: inline-block;
  margin-top: 1rem;
  align-self: center;
  width: auto;
  text-align: center;
}



@media (max-width: 35rem){
  .item-name, .item-price{
    font-size: 0.8rem;
  }

  .total-label, .total-value{
    font-size: 1rem;
  }
  .checkout-cart, .payment-form {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}


/* =========================
   LANDING PAGE
========================= */

.home-page {
  padding:0;
}

/* NAVIGATION BAR FOR LANDING PAGE */
.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 4rem;
  height: 5rem;
  box-sizing: border-box;

  background: transparent;
  z-index: 1;
}

.nav {
  color: #F7D888;
  text-decoration: none;
  padding: 1.7rem 3rem;
  transition: 0.3s ease;
}

.nav:hover {
  text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255);
  color: #FDFBD4;
}

/* NAVIGATION BAR FOR OTHER PAGES */

.navbar.scrolled {
  background-color: #AD4804;
}

.navbar.scrolled .nav:hover {
  text-shadow: 0 0 0 rgba(0,0,0,0);
  background: #8B2E00;
}
.cart {
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.cart img {
  height: 3.5rem;
}

.icon {
  position: relative; /* learnt how to position elements here: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/position */
  display: inline-flex; /* i learnt how to combine inline and flex here: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/display */
  align-items: center;
}

.icon .hover {
  position: absolute;   
  top: 0;
  right: 2rem;
  opacity: 0;
   transition: opacity 0.2s ease;
}

.icon:hover .hover {
  opacity: 1;
}

.icon:hover .default {
  opacity: 0;
}

/* TOP (LANDING PAGE) */
.top {
  position: relative;
  height: 100vh; /* I read about it here: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/length#vh */
  background: url("img/mainBG.png") center/cover; /* I read about it here: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/url_function */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #FDFBD4;
  
}

.logo img {
  height: 3.125rem;
}

.top-content {
  max-width: 75rem;
  padding: 2rem 4rem 6rem 4rem;
}

.top-content h1 {
  font-size: 3rem;
  font-family: "Arima Madurai", cursive;
  margin-top: 20rem;
  margin-bottom: 1.5rem;
}

.top-content p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 4rem;
  margin-left: 1rem;
  max-width: 35rem;
}

.buttonLAND {
  margin-left: 1rem;
}

.canadian-badge {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem 4rem;
  justify-content: flex-end;
  font-weight: 600;
  color: #F7D888; 
}

.canadian-badge img {
  height: 1.875rem;
}

/* =========================
   NEWS/UPDATES SECTION
========================= */
.news-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 2rem;
  padding: 4rem;
  max-width: 87.5rem;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.newsabout-section {
  background: #FFFEF1;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 10rem;
}

.newsabout-section h2 {
  font-size: 2.5rem;
  color: #330708;
}

.section-subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  gap: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 4rem;


  font-size: 1rem;
  color: #330708; 
}

.section-subtitle::before,
.section-subtitle::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #330708; 
}

/* =========================
   ABOUT PAGE
========================= */

.about-page .navbar {
  background:#AD4804;
  position: fixed;   
  top: 0;
}

.about-page{
  padding: 0;

}

.about-page .nav:hover {
  background-color: #8B2E00; 
  color: #FDFBD4;
  text-shadow: none;
}
/* ORANGE SECTION */
.bgOrange {
  background: #AD4804;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 12rem;
  margin-bottom: 0;
}


.bgOrange h2 {
  font-size: 2.5rem;
  color: #FFDE87;
}

.bgOrange p {
  color: #FFDE87;
}

.orangeSection-subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  gap: 1.5rem;
  margin-bottom: 4rem;

  font-size: 1rem;
  color: #FFDE87; 
}

/* i learnt how to use pseudo elements to create lines on the sides of the subtitle here: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/Pseudo-elements */
.orangeSection-subtitle::before,
.orangeSection-subtitle::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #FFDE87; 
}

/* BEIGE SECTION */
.bgBeige {
  background: #D39665;
  text-align: center;
  padding-top: 5rem;
  margin-bottom: 0;
}

.bgBeige img {
  width: 100%;
  max-height: 22rem;
  padding-top: 4rem;
  object-fit: cover;
}
.news-columnsABOUT {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 2rem;
  padding: 4rem;
  max-width: 87.5rem;
  margin: 0 auto;
  padding-bottom: 8rem;
}
.news-columns img {
  width: 100%;
  max-height: 12rem;
  object-fit: cover;
}

/* YELLOW SECTION */
.bgYellow {
  background: #F7D888;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 5rem;
}

.canadian-badge.bgYellow {
  color: #330708;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  justify-content: left;
  text-align: left;

}
.badge-top {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  font-weight: 500;
  font-style: italic;
}

.canadian-badge.bgYellow p {
  max-width: 30rem;
  font-weight: 400;
  font-style: italic;
  padding-left: 2rem;
}

.bgYellow h2{
  margin-top: 4rem;
}
.values-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 2rem;
  padding: 4rem;
  max-width: 87.5rem;
  margin: 0 auto;
}

.values-columns img {
  max-width: 100%;
  max-height: 15rem;
  margin: 0 auto;
}

/* WHITE SECTION (QUOTE PART) */
.staff-quote {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 16rem;
  margin-bottom: 0;
}

.staff-quote h2 {
  text-align: center;

}
.staff-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 3rem;
}

.quote-side {
  max-width: 40rem;
  text-align: left;
}

.quote-text p {
  position: relative;
  font-size: 1.25rem;
  font-style: italic;
  line-height: 1.6;
  color: #330708;
}

/* quotes */

/* I learnt how to make big quotes here: https://stackoverflow.com/questions/27426045/big-quotation-marks-styled-in-html-css */
.quote-text p::before {
  content: open-quote;
  font-size: 4rem;
  position: absolute;
  right: 40rem;
  top: -2.5rem;
  color: #a3471c;
}

.quote-text p::after {
  content: close-quote;
  font-size: 4rem;
  position: absolute;
  right: -2rem;
  bottom: -4rem;
  color: #a3471c;
}

.quote-author {
  margin-top: 2rem;
}

.quote-author h3 {
   display: flex;
  justify-content: flex-end;
  position: relative;
  font-weight: 500;
  margin: 0;
  padding-left: 4rem;
}



.quote-author p {
   display: flex;
  justify-content: flex-end;
  margin: 0.3rem 0 0 4rem;
  font-size: 0.9rem;
}

.staff-image img {
  max-width: 15rem;
  height: auto;
}


/* MOBILE RESPONSIVENESS */
@media (max-width: 61.125rem) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 1rem 1.5rem;
    align-items: stretch; 
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .cart {
    position: absolute;
    top: 0;
    right: 1.5rem;
    height: auto;
    align-items: center;
  }

  .cart img {
    height: 2.75rem;
  }

  .main-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0.5rem;
    gap: 1.5rem;
  }

  .nav {
    padding: 0.3rem 1rem;
    font-size: 0.9rem;
  }

  .bgOrange h2 {
    padding-top: 2rem;
  }

  .quote-text p::before {
  content: open-quote;
  font-size: 4rem;
  position: absolute;
  right: 17rem;
  top: -2.5rem;
  color: #a3471c;
}

.quote-text p::after {
  content: close-quote;
  font-size: 4rem;
  position: absolute;
  right: -2rem;
  bottom: -4rem;
  color: #a3471c;
}

.quote-text p{
  max-width: 16rem;
}

}


@media (max-width: 56.25rem) {
  .news-columns {
    grid-template-columns: 1fr;
  }
  .news-columnsABOUT {
    grid-template-columns: 1fr;
  }

  .bgBeige img {
    padding: 0;
    max-width: 100%;
    height: auto;
  }
  .top-content {
    padding: 0rem 1.5rem;
  }
  .canadian-badge {
    justify-content: center;
    gap: 0.5rem;
  }


}

.news-card {
  text-align: center;
}

.news-card h3 {
  margin-bottom: 1rem;
}

.news-card p {
  margin-top: 1rem;
  line-height: 1.6;
}

.about-section {
  padding: 2rem;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10rem;
  max-width: 75rem;
  margin: 0 auto;
}

.about-image img {
  width: 100%;
  height: auto;
}

.about-text {
  max-width: 35rem;
  text-align: left;
}
.about-text h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.about-text p {
  line-height: 1.6;
}

@media (max-width: 56.25rem) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }
}
/*
  DETAILED VIEW PRODUCT PAGE
*/
.detailed-product-section .product-details .product-name {
  margin-left: 1rem;
}

.detailed-product-section .product-details .product-cost {
  font-size: 1.2rem;
}



.detailed-product-section .product-card {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem auto;
  padding: 1.5rem;
}

.detailed-product-section .product-card img.product-image {
  width: 20rem;
  height: 15rem;
  object-fit: cover; 
  border: 1px solid #330708;
  display: block;
}

.detailed-product-section .product-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
}

.detailed-product-section .card-footer{
  display: flex;
  gap: 0.75rem;
  justify-content: flex-start; 
  align-items: center;
}

.recommended-section .product-listing .card-footer {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  gap: 1rem;
}

.recommended-section h3 {
  text-align: center;
  width: 100%;
  margin-bottom: 2rem;
}

@media (max-width: 48rem) {
  .detailed-product-section .product-card {
    flex-direction: column; 
    align-items: center;
    text-align: center;
  }

  .detailed-product-section .product-details {
    text-align: center;
    margin-left: 0;
    align-items: center;
  }

  .detailed-product-section .card-footer {
    justify-content: center;
  }


  .about-container {
    display: flex;
    justify-content: center;
    grid-template-columns: 1fr;
  }

  .about-container img{
    max-width: 70%;
      height: auto;
  }
  .about-text {
    text-align: center;
  }
  .about-text h2 {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .news-card{
     display: flex;
    justify-content: center;
    flex-direction: column;
      align-items: center;
    grid-template-columns: 1fr;
  }
  .news-card img{
    max-width: 70%;
    height: auto;
  }
  .values-columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 1fr;
  }

   .staff-content {
    flex-direction: column;
  }

  .staff-image {
    order: -1;
    margin-bottom: 2rem;
  }

  .quote-side {
    text-align: center;
  }

  .quote-author h3,
  .quote-author p {
    justify-content: center;
  }


}


/*
  CONTACTS AND FEEDBACK PAGE

*/

.products-page .navbar {
  background:#AD4804;
  position: fixed;   
  top: 0;
}

.products-page .page-header {
  margin-top: 6rem;
}

.products-page .nav:hover {
  background-color: #8B2E00; 
  color: #FDFBD4;
  text-shadow: none;
}

.contact-section {
  margin: 0 auto 4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.contacts-subtitle{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  margin-bottom: 4rem;
  font-size: 1rem;
  color: #330708;
  width: 100%;
}


.contacts-subtitle::before,
.contacts-subtitle::after{
  content: "";
  flex: 1;
  height: 1px;
  background-color: #330708;
}

.contacts-layout{
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  width: 100%;
  max-width: 65rem;
  align-items: flex-start;
}

.contacts-info{
  width: 40rem;
  background-color: #D39665;
  border: 2px solid #690D0E;
  padding: 2rem;

}

.contacts-info img {
  margin-right: 1rem; 
}

.contacts-info h3{
  text-align: left;
  margin-bottom: 1.5rem;
}


.contact-item{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.contact-item h4{
  margin: 0;
  text-align: left;
}

.contact-item p{
  text-align: left;
}

.contact-section .form-elements {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  width: 100%;
  max-width: 25rem;
  padding-left: 1rem;
    padding-right: 1rem;
}

.contact-section .form-elements label {
  align-self: flex-start;
}

.contact-section .form-elements input,
.contact-section .form-elements textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #787878;
  font-family: "Charis SIL", serif;
  box-sizing: border-box;
}

.contact-section .form-elements input:focus,
.contact-section .form-elements textarea:focus {
  outline: none;
  border: 1px solid #330708;
  box-shadow: 0 0 0 2px rgba(51, 7, 8, 0.2);
}

.contact-section .form-button{
  margin-top: 1.5rem;
}



@media (max-width: 40rem) {
  .contacts-layout {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  .contacts-info,
  .form-elements {
    width: 100%;
    max-width: 25rem;
  }

  .contacts-subtitle{
    margin-bottom: 0rem;
  }

  .contact-item {
    align-items: center; 
    text-align: left;
  }

  .contact-item img {
    margin-right: 1rem;
  }

  .form-button {
    align-self: center;
  }
}
